@font-face {
    font-family: main-regular;
    src: url(./Fonts/MonumentExtended-Regular.otf);
}

@font-face {
    font-family: main-bold;
    src: url(./Fonts/MonumentExtended-Ultrabold.otf);
}

@font-face {
    font-family: main;
    src: url(./Fonts/moonet-demo.regular.otf);
    
}

@font-face {
    font-family: poppins;
    src: url(./Fonts/poppins.medium.ttf);
    font-weight: bold;
}

@font-face {
    font-family: poppins-black;
    src: url(./Fonts/poppins.black.ttf);
    font-weight: bold;
}

/*Navbar*/

.nav{
    display: flex;
    position: fixed;
    background-color: rgb(250, 249, 249);
    width: 100%;
}
.logo{
    font-weight: 200;
    font-family: main;
    font-size: 35px;
    margin-left: 3vw;
    margin-right: 30vw;
}

.nav-li{
    font-family: poppins;
    font-size: 18px;
    text-align: center;
    margin-right: 50px;
    margin-top: 3vh;
    
}

/*Main _section*/

.home-first-h{
    font-family: main-bold;
    font-size: 50px;
    margin-top: -100px;
    margin-left: -100px;
    margin-right: 10vh;
}

.home-first-p{
    color: gray;
}
#home-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-first{
    animation-name: main-heading;
    animation-duration: 2s; 
    animation-timing-function: ease-out; /* Smooth animation */
    position: relative; 
}

.home-first-m{
    visibility: hidden;
}

.main-image{
    height: 100vh;
    filter: grayscale(100%);
    margin-top: 50px;
    animation-name: main-img;
    animation-duration: 2s; 
    animation-timing-function: ease-in-out; /* Smooth animation */
    position: relative; 
}

/* Animations */
@keyframes main-img {
    0% {
        left: -100%; /* Start from left off-screen */
        opacity: 0;
    }
    
    100% {
        left: 0%; /* End at right off-screen */
    }
}

@keyframes main-heading {
    0%{
        right: -100%;
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        right: 0%;
    }
    
}

/*Responsive css*/
@media only screen and (max-width: 600px) {
    /*Navbar*/
    .nav{
        width: 100%;
    }

    .nav-li{
        visibility: hidden;
        margin-right: 0px;
        display: none;
    }

    .logo{
        margin-right: 0px;
    }

    #home-section-m{
        margin-right: 0px;
        
    }

    #home-section{
        margin-left: 0px;
        
    }

    .main-image{
        height: 400px;
        margin-top: 10vh;
        margin-left: 0px;
        margin-right: 100px;
    }


    /*hidden in mobile view*/
    .home-first-h{
        visibility: hidden;
        margin-right: 0px;
    }
    
    .home-first-p{
        visibility: hidden;
        margin-right: 0px;
    }

    .home-first-h-m{
        font-family: main-bold;
        font-size: 20px;
        margin-bottom: -10px;
        visibility: visible;
    }
    
    .home-first-p-m{
        color: gray;
        margin-right: 30vw;
        text-align: left;
        font-family: poppins;
        visibility: visible;
    }

    .home-first-m{
        margin-left: 15vw;
    }

    .main-image{
        margin-right: 0px;
    }
  }