@font-face {
    font-family: main-regular;
    src: url(./Fonts/MonumentExtended-Regular.otf);
}

@font-face {
    font-family: main-bold;
    src: url(./Fonts/MonumentExtended-Ultrabold.otf);
}

@font-face {
    font-family: main;
    src: url(./Fonts/moonet-demo.regular.otf);
    
}

@font-face {
    font-family: poppins;
    src: url(./Fonts/poppins.medium.ttf);
    font-weight: bold;
}

@font-face {
    font-family: poppins-black;
    src: url(./Fonts/poppins.black.ttf);
    font-weight: bold;
}

/*Navbar*/

.nav{
    display: flex;
    position: fixed;
    background-color: rgb(250, 249, 249);
    width: 100%;
}
.logo{
    font-weight: 200;
    font-family: main;
    font-size: 35px;
    margin-left: 3vw;
    margin-right: 30vw;
}

.nav-li{
    font-family: poppins;
    font-size: 18px;
    text-align: center;
    margin-right: 50px;
    margin-top: 3vh;
    
}

/*Main _section*/

.home-first-h{
    font-family: main-bold;
    font-size: 50px;
    margin-top: -100px;
    margin-left: -100px;
    margin-right: 10vh;
    
}

#home-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-first{
    animation-name: main-heading;
    animation-duration: 2s; 
    animation-timing-function: ease-out; /* Smooth animation */
    position: relative; 
}

.main-image{
    height: 100vh;
    filter: grayscale(100%);
    margin-top: 50px;
    animation-name: main-img;
    animation-duration: 2s; 
    animation-timing-function: ease-in-out; /* Smooth animation */
    position: relative; 
}

/* Animations */
@keyframes main-img {
    0% {
        left: -100%; /* Start from left off-screen */
    }
    100% {
        left: 0%; /* End at right off-screen */
    }
}

@keyframes main-heading {
    0%{
        right: -100%;
        opacity: 0;
    }
    65%{
        opacity: 0;
    }
    100%{
        right: 0%;
    }
    
}